{% extends 'base.html.twig' %}

{% block body %}
	<section class="mb-5 miguitas">
		<div class="col-12 bg-routing py-3 pl-5 mr-5 d-flex justify-content-around align-content-center">
			<div class="col-6">
				<a class="link-custom" href="/">
					<h5>Inicio</a>
					>
					<a class="link-active" href="">Mis tours
					</h5>
				</a>
			</div>
			<div class="col-6 ml-auto">
				<h5 id="wlc-user" class="ml-auto" data-roles={{ app.user.roles | json_encode }} data-id={{app.user.id}}>Bienvenido
					{{app.user.email}}</h5>
			</div>
		</div>
	</section>
	<section class="mx-5">
		<div class="row">
			<div class="col-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" id="prox" onclick='changeActive(this)' aria-current="page" href="#" active>Próximos viajes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="before" href="#" onclick='changeActive(this)'>Viajes anteriores</a>
					</li>
				</ul>
			</div>
			<div class="col-9" id="res-container">
				<div id="empty" style="display: none;" class="row col-12 bg-routing mb-3 justify-content-center align-items-center tours p-1">
					<img id="foto" src="{{asset('media/coliseo.png')}}" width="12%" height="12%" alt="Tour Image">
					<h5 class="col-12 text-center">Este coliseo está vacio</h5>
				</div>
				<nav id="pagination" aria-label="Page navigation example" class="d-flex justify-content-center align-content-center">
					<ul class="pagination" style="display: none" id="listaPage">
						<li class="page-item page-ext" id="previous" onclick="changePage(prev)">
							<a class="page-link" href="#">Anterior</a>
						</li>
						<li class="page-item page-ext" id="next" onclick="changePage(next)">
							<a class="page-link" href="#">Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>

	<div class="modal" id="valorarReserva" tabindex="-1" aria-labelledby="modalTitle">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Valorar este tour</h5>
				</div>
				<div class="modal-body">
					<form id="valorar">
						<fieldset>
							<p class="clasificacion">
								<input id="radio1" type="radio" name="estrellas" value="5">
								<label for="radio1">★</label>
								<input id="radio2" type="radio" name="estrellas" value="4">
								<label for="radio2">★</label>
								<input id="radio3" type="radio" name="estrellas" value="3">
								<label for="radio3">★</label>
								<input id="radio4" type="radio" name="estrellas" value="2">
								<label for="radio4">★</label>
								<input id="radio5" type="radio" name="estrellas" value="1">
								<label for="radio5">★</label>
							</p>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-custom" id="newValoracion" onclick="addVal()" form="ticket" data-id="{{app.user.id}}">Publicar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="lista" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Lista de apuntados</h5>
				</div>
				<div class="modal-body" id="body-reserva"></div>
				<div class="modal-footer d-flex justify-content-around align-content-between">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-custom" id="newValoracion" onclick="" form="ticket" data-id="{{app.user.id}}">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="informe" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Informe del tour</h5>
				</div>
				<div class="modal-body">
					<form id="ticket">
						<div class="mb-3">
							<label for="fotoGrupo" class="form-label">Foto del grupo</label>
							<input type="file" class="form-control" id="fotoGrupo" onchange="encodefotoGrupo(this)" placeholder="Foto del grupo">
						</div>
						<div class="mb-3">
							<label for="observaciones" class="form-label">Observaciones</label>
							<textarea class="form-control" id="observaciones" placeholder="Observaciones"></textarea>
						</div>
						<div class="mb-3">
							<label for="importeRecibido" class="form-label">Importe recibido</label>
							<input type="number" min='0' class="form-control" id="importeRecibido" placeholder="Importe recibido">
						</div>
					</form>
					<div class="modal-footer d-flex justify-content-around align-content-between">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-custom" id="newValoracion" onclick="addInf()" form="ticket" data-id="{{app.user.id}}">Guardar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="confirmModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Cancelar el tour</h5>
					</div>
					<div class="modal-body">
						<p>Esta acción será definitiva, una vez cancelado, su reserva a este tour no volverá a aparecer</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-danger deleteBTN" onclick="deleteReserva()">Eliminar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="editReserva" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content">
					<form id="ticket">
						<div class="modal-header">
							<h5 class="modal-title">Resumen de su reserva</h5>
						</div>
						<div class="modal-body">
							<p id="tour-tit"></p>
							<p id="tour-fec"></p>
							<p id="tour-hour"></p>
							<input class="form-control" min="1" id="apuntados" type="number" placeholder="Apuntados a la reserva" required></input>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-custom" id="newReserva" form="ticket" data-id={{app.user.id}}>Realizar reserva</button>
				</div>
			</div>
		</div>

		<div class="overlay" id="overlay" style="display:none;">
			<img class="jello-horizontal" src="{{asset('media/logo.png')}}" width="50px">
		</div>

		{% block javascripts %}
			{{parent()}}
		{% endblock %}
	{% endblock %}
